include _common/_mixin

doctype html
html(lang='ru-Ru')
	head
		block title
			title Заголовок страницы
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href='css/main.css' rel='stylesheet')
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		<![endif]-->
body
	.wrapper
		header.header
			block menu
			block bredcrumbs
		block middle
	footer.footer
		include ./_common/_footer
	
	script(src='js/main.js')